*{
    margin: 0;
    padding: 0;
}
/* ========Navbar===== */
.logo{
    font-size: 30px;
    font-weight: 700;
    color: #7952B3;
    
}
.logo span{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #2d3436;  
}
.link{
    color:#7952B3 !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.link:hover{
color:#0fbcf9 !important;

}
#btn1{
    background-color: #7952B3;
     /* width: 140px;  */
}
#btn1:hover{
    background-color: #0fbcf9;
    color: #2d3436 !important;
    
}
/* ===============Slider=============== */
.btn1{
    background-color: #7952B3;
    outline: none;
}
#register{
    background-color: #7952B3;
}
#link li{
    list-style-type: none;
}
#link li a:hover{
color: #7952B3 !important;
text-decoration: underline !important;
}